In [1]:
#  Import required libraries
import pandas as pd
import os

In [2]:
#  Define data directory
DATA_DIR = "../data/"
#  Load datasets (replace filenames with actual ones)
train_file = os.path.join(DATA_DIR, "train.csv")  # Update filename if needed
test_file = os.path.join(DATA_DIR, "test.csv")    # Update filename if needed

In [3]:

# Load CSV files
df_train = pd.read_csv(train_file)
df_test = pd.read_csv(test_file)

In [4]:

#  Display the first few rows
print("Train Data Sample:")
display(df_train.head())

Train Data Sample:

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku,units_sold
0,1,17/01/11,8091,216418,99.0375,111.8625,0,0,20
1,2,17/01/11,8091,216419,99.0375,99.0375,0,0,28
2,3,17/01/11,8091,216425,133.9500,133.9500,0,0,19
3,4,17/01/11,8091,216233,133.9500,133.9500,0,0,44
4,5,17/01/11,8091,217390,141.0750,141.0750,0,0,52

In [5]:

print("\nTest Data Sample:")
display(df_test.head())

Test Data Sample:

,record_ID,week,store_id,sku_id,total_price,base_price,is_featured_sku,is_display_sku
0,212645,16/07/13,8091,216418,108.3000,108.3000,0,0
1,212646,16/07/13,8091,216419,109.0125,109.0125,0,0
2,212647,16/07/13,8091,216425,133.9500,133.9500,0,0
3,212648,16/07/13,8091,216233,133.9500,133.9500,0,0
4,212649,16/07/13,8091,217390,176.7000,176.7000,0,0

In [6]:

#  Check dataset info
print("\nðŸ”¹ Train Data Info:")
print(df_train.info())

ðŸ”¹ Train Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150150 entries, 0 to 150149
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   record_ID        150150 non-null  int64
 1   week             150150 non-null  object
 2   store_id         150150 non-null  int64
 3   sku_id           150150 non-null  int64
 4   total_price      150149 non-null  float64
 5   base_price       150150 non-null  float64
 6   is_featured_sku  150150 non-null  int64
 7   is_display_sku   150150 non-null  int64
 8   units_sold       150150 non-null  int64
dtypes: float64(2), int64(6), object(1)
memory usage: 10.3+ MB
None

In [7]:
print("\nðŸ”¹ Test Data Info:")
print(df_test.info())

ðŸ”¹ Test Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13860 entries, 0 to 13859
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   record_ID        13860 non-null  int64
 1   week             13860 non-null  object
 2   store_id         13860 non-null  int64
 3   sku_id           13860 non-null  int64
 4   total_price      13860 non-null  float64
 5   base_price       13860 non-null  float64
 6   is_featured_sku  13860 non-null  int64
 7   is_display_sku   13860 non-null  int64
dtypes: float64(2), int64(5), object(1)
memory usage: 866.4+ KB
None

In [8]:
# Check for missing values
print("\n Missing Values in Train Data:")
print(df_train.isnull().sum())

 Missing Values in Train Data:
record_ID          0
week               0
store_id           0
sku_id             0
total_price        1
base_price         0
is_featured_sku    0
is_display_sku     0
units_sold         0
dtype: int64

In [9]:

print("\n Missing Values in Test Data:")
print(df_test.isnull().sum())

 Missing Values in Test Data:
record_ID          0
week               0
store_id           0
sku_id             0
total_price        0
base_price         0
is_featured_sku    0
is_display_sku     0
dtype: int64